.contain{
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction:row;
    padding: 30px;
    margin: 30px 0;
    gap: 20px;
}
.comentario{
    border: 1px solid rgba(129, 129, 129, 0.753);
    max-width: 340px;
    padding: 5px;
    border-radius: 5px;

    margin: 10px 0;
}
.buttonImg{
    width: 20px;
    height: 20px;
}
.comentarioButton{
    width: 0px;
    height: 0px;
    border: 0;
}
.comentarioContain{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
}
.comentarioButton:hover{
    background-color: white;
}
.liko{
    width: 20px;
    height: 20px;
    background: url('../../assets/corazon.png');
}
.caja{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: start;
    border: 2px solid #0184ff;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    /* flex-wrap: wrap; */
}
.comenInput{
    margin: 5px 0;
}

.comentarioLabel{

}

.form {
    /* margin: 30px 0; */
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(0, 0, 0, 0.39);
    --border-after-color: #0184ff;
    --input-hovered-color: #4985e069;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    /* color: #fff; */
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    border-bottom: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */